<% @weeks.each do |week| %>
  <h2>Week <%= week.ordinal %></h2>
  <table cellpadding="0" cellspacing="0">
    <tr>
      <th class="day">Day</th>
      <th class="topics">Topics</th>
      <th class="speakers">Speakers</th>
      <th class="date">Date</th>
    </tr>
    <% week.days.order("id ASC").each do |day| %>
      <tr>
        <td><%=  day.ordinal %></td>
        <td><pre>&nbsp;&nbsp;&nbsp;&nbsp;<%= day.topics %></pre></td>
        <td>
          <% if day.speakers.first.nil? %>
            <span class="available">none</span>
          <% else %>
            <% day.speakers.each do |speaker| %>
              <span class="speaker_name"><a href="/speakers/<%= speaker.id %>/edit"><%= speaker.full_name %></a></span>
            <% end %>
          <% end %>
          <br />
          <a href="/add_speaker/<%= day.id %>">schedule me</a>
        </td>
        <td><span class="date_txt"><%= day.date %></span></td>
      </tr>
    <% end %>
  </table>
<% end %>