<h1>Guest Speaker Signup</h1>
<h4>Click a 'schedule me' link below to sign up for days that have related topics or that work best for you</h4>
<% @weeks.each do |week| %>
  <h2 id="week<%= week.ordinal %>">Week <%= week.ordinal %> //</h2>
  <table cellpadding="0" cellspacing="0">
    <tr>
      <th class="day">Day</th>
      <th class="topics">Topics</th>
      <th class="speakers">Speakers</th>
      <th class="date">Date</th>
    </tr>
    <% week.days.order("id ASC").each do |day| %>
      <tr>
        <td><%=  day.ordinal %></td>
        <td><pre>&nbsp;&nbsp;&nbsp;&nbsp;<%= day.topics %></pre></td>
        <td><a href="/add_speaker/<%= day.id %>">schedule me</a></td>
        <td><span class="date_txt"><%= day.date.strftime("%b %d, %Y") %></span></td>
      </tr>
    <% end %>
  </table>
<% end %>