<h2>Days</h2>

<table>
  <tr>
    <th>Number</th>
    <th>Topics</th>
    <th>Speaker</th>
    <th>Date</th>
    <th>Week</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @days.each do |day| %>
  <tr>
    <td><%= day.ordinal %></td>
    <td><%= day.topics %></td>
    <td>
    <% if day.speakers.first.nil? %>
      <span class="available">available</span>
    <% else %>
      <% day.speakers.each do |speaker| %>
        <a href="/speakers/<%= speaker.id %>"><%= speaker.full_name %></a>
      <% end %>
    <% end %>
    </td>
    <td><%= day.date %></td>
    <td><%= day.week.ordinal %></td>
    <td><%= link_to 'Show', day %></td>
    <td><%= link_to 'Edit', edit_day_path(day) %></td>
    <td><%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Day', new_day_path %>
