<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @speaker.full_name %>
</p>

<p>
  <b>Lecture title:</b>
  <%= @speaker.lecture_title %>
</p>

<p>
  <b>Lecture description:</b>
  <%= @speaker.lecture_description %>
</p>

<p>
  <b>Day:</b>
  <%= @speaker.day_id %>
</p>


<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Destroy', @speaker, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', speakers_path %>
