<!DOCTYPE html>
<html>
<head>
  <title>GuestSpeakerCal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
  <header class="clearfix">
    <%= image_tag("fis-logo.png", size: "135x91", class: "logo") %>
    <h1>Guest Speaker Calendar</h1>
  </header>
  <%= yield %>
  </div><!-- #wrapper -->
</body>
</html>
