<!DOCTYPE html>
<html>
<head>
  <title>GuestSpeakerCal</title>
  <link rel="stylesheet" id="google_merriweather-css" href="http://fonts.googleapis.com/css?family=Merriweather:400,700&ver=3.5" type="text/css" media="all">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="clearfix">
    <div class="wrapper clearfix">
      <a class="logos" href="http://flatironschool.com/" title="The Flatiron School">
        <h1 class="logo-text">
          <object id="bigify" data="/assets/flatiron-logo-high-res.svg" type="image/svg+xml" class="logo"></object>
          <object id="minify" data="/assets/flatiron-horz-logo-high-res.svg" type="image/svg+xml" class="logo"></object>
        </h1>
      </a>
      <nav>
        <ul id="nav" class="nav">
          <li>
            <span>Weeks</span>
            <ul class="sub-menu">
            <% if @cal_view %>
              <li><a href="#week1"><%= @week_dates[0].strftime("%b %d") %> - <%= @week_dates[1].strftime("%b %d") %></a></li>
              <li><a href="#week2"><%= @week_dates[2].strftime("%b %d") %> - <%= @week_dates[3].strftime("%b %d") %></a></li>
              <li><a href="#week3"><%= @week_dates[4].strftime("%b %d") %> - <%= @week_dates[5].strftime("%b %d") %></a></li>
              <li><a href="#week4"><%= @week_dates[6].strftime("%b %d") %> - <%= @week_dates[7].strftime("%b %d") %></a></li>
              <li><a href="#week5"><%= @week_dates[8].strftime("%b %d") %> - <%= @week_dates[9].strftime("%b %d") %></a></li>
              <li><a href="#week6"><%= @week_dates[10].strftime("%b %d") %> - <%= @week_dates[11].strftime("%b %d") %></a></li>
              <li><a href="#week7"><%= @week_dates[12].strftime("%b %d") %> - <%= @week_dates[13].strftime("%b %d") %></a></li>
              <li><a href="#week8"><%= @week_dates[14].strftime("%b %d") %> - <%= @week_dates[15].strftime("%b %d") %></a></li>
              <li><a href="#week9"><%= @week_dates[16].strftime("%b %d") %> - <%= @week_dates[17].strftime("%b %d") %></a></li>
              <li><a href="#week10"><%= @week_dates[18].strftime("%b %d") %> - <%= @week_dates[19].strftime("%b %d") %></a></li> 
              <li><a href="#week11"><%= @week_dates[20].strftime("%b %d") %> - <%= @week_dates[21].strftime("%b %d") %></a></li>
              <li><a href="#week12"><%= @week_dates[22].strftime("%b %d") %> - <%= @week_dates[23].strftime("%b %d") %></a></li>
              <% else %>
              <li><%= link_to 'Back', calendar_path %></li>
              <% end %>
            </ul>
          </li>
          <li>
            <span>Topics</span>
            <ul class="sub-menu">
              <li><a href="#git">GIT</a></li>
              <li><a href="#cli">CLI</a></li>
              <li><a href="#sql">SQL</a></li>
              <li><a href="#ruby">Ruby</a></li>
              <li><a href="#sinatra">Sinatra</a></li>
              <li><a href="#rails">Rails</a></li>
              <li><a href="#TDD">TDD</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div><!-- .wrapper -->
  </header>
  <div class="wrapper content">
    <%= yield %>
  </div><!-- .wrapper -->
</body>
</html>