<!DOCTYPE html>
<html>
<head>
  <title>GuestSpeakerCal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="clearfix">
    <div class="wrapper">
      <%= image_tag("fis-logo.png", size: "135x91", class: "logo") %>
      <h1>Guest Speaker Calendar</h1>
    </div><!-- .wrapper -->
  </header>
  <div class="wrapper">
  <%= yield %>
  </div><!-- .wrapper -->
</body>
</html>
